body {
  margin: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;

}

table {
  border-collapse: collapse;
  width: 200%; 
  text-align: center;
}

td {
  box-sizing: border-box;
  border: 2px solid red;
  margin: 0;
  padding: 10px;
}
